.Wallpaper {
  background-image: url("img_tree.gif")
}

.App {
  text-align: center;

  background-color: red;
  flex-direction: column;
  align-items: center;
  color: white;

  display: grid;
  max-width: 400px;
  height: 500px;
  margin: 100px auto;
  box-shadow: 5px 5px 15px -6px #8c8c8c;

}

