:root {
  background-color: blue;
  /* background-image: url("../images/mlb_teams.jpg");
  background-size: auto;
  background-repeat: repeat; */

  background: url("../images/mlb_teams.jpg") repeat center center fixed;
}

.App {
  text-align: center;
  border-radius: 10px;
  border: 10px solid #14295d;
  color: blue;
  width: 90%;
  min-height: 500px;
  height: auto;
  margin: 100px auto;
  color: black;

  background: url("../images/mlb_field.webp") repeat center center fixed;
}

.home {
  background-color: #de8a69;
  border: 5px solid #5e984b;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.teamPlayers {
  background-color: #de8a69;
  border: 5px solid #5e984b;
  border-radius: 10px;
  text-align: center;
  float: left;
  height: auto;
  width: 23%;
  padding: 3 10px;
  padding-bottom: 10px;
  margin: 2px;
  margin-bottom: 5px;
}

.team {
  background-color: #de8a69;
  border: 5px solid #5e984b;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  width: 90%;
  margin: 5px;
  padding: 5px;
}

.link {
  font-weight: bold;
  color: black
}

.player {
  background-color: #de8a69;
  border: 5px solid #5e984b;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  width: 90%;
  margin: 5px;
  padding: 5px;
}

.table {
  align-content: center;
  text-align: center;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.input {
  width: 50px;
}

.teamForm {
  background-color: #de8a69;
  border: 5px solid #5e984b;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}


.playerForm {
  background-color: #de8a69;
  border: 5px solid #5e984b;
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.inputPlayer {
  margin: 5px;
}

