:root {
  background-color: blue;
  background-image: url("../images/mlb_teams.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  background-color: red;
  border-radius: 10px;
  border: 10px solid blue;
  color: blue;
  max-width: 800px;
  min-height: 500px;
  height: auto;
  margin: 100px auto;
  color: white;
}

