:root {
  background-color: blue;
  background-image: url("../images/mlb_teams.jpg");
  background-size: auto;
  background-repeat: repeat;
}

.App {
  text-align: center;
  background-color: red;
  border-radius: 10px;
  border: 10px solid blue;
  color: blue;
  width: 90%;
  min-height: 500px;
  height: auto;
  margin: 100px auto;
  color: white;
}

.home {
  background-color: blue;
  border: 5px solid white;
  border-radius: 10px;
  width: 90%;
  content: "";
  display: table;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.teamPlayers {
  background-color: blue;
  border: 5px solid white;
  border-radius: 10px;
  text-align: center;
  float: left;
  height: 470px;
  width: 23%;
  padding: 3 10px;
}

.team {
  background-color: blue;
  border: 5px solid white;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  width: 90%;
  margin: 5px;
  padding: 5px;
}

.player {
  background-color: blue;
  border: 5px solid white;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  width: 90%;
  margin: 5px;
  padding: 5px;
}

.table {
  align-content: center;
  text-align: center;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.input {
  width: 50px;
}

